body {
	margin: 10px;
	width: 98%;
}
.layui-table-cell {
	white-space: normal;
	height: auto;
}
.layui-table th {
	font-size: 15px;
}
.layui-table td {
	font-size: 15px;
}
.layui-table tbody tr:hover {
	background: #E2E2E2;
}
.tag{
	margin-right: 8px;
	user-select: none;
}
.keyword{
	font-size: 15px;
	padding: 5px;
}
.searchTips{
	font-size: 15px;
	margin-left: 10px;
	user-select: none;
}
.search{
	width:400px;
	font-size: 15px;
	float:right;
}
.searchBtn{
	float:right;
}