.layui-body {
	padding-left: 10px;
	min-width: 730px;
}
.layui-table-cell {
	white-space: normal;
	height: auto;
}
.layui-table th {
	font-size: 15px;
}
.layui-table td {
	font-size: 15px;
}
.layui-table tbody tr:hover {
	background: #E2E2E2;
}
.icon-spread-left{
	margin-right: 20px;
}
.tag{
	margin-right: 8px;
	user-select: none;
}
.keyword{
	height:25px;
	padding: 4px 8px;
	margin: -3px 0 0 10px;
	font-size: 14px;
	max-width: calc(min(max(140px, 100vw - 790px), 290px));
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
}
.search{
	width: calc(min(max(150px, 100vw - 780px), 300px));
	font-size: 15px;
	vertical-align: middle;
	display: inline-block;
}
.searchBtn{
	width: 40px;
	padding: 0;
	text-align: center;
}